<div class="container" *ngIf="currArtifact">

    <div class="row">
        <div class="col-md-12">
            <div class="row">                
                <div class="col-md-10 col-md-offset-1">

                    <h1 class="remainingNumber" align="center">
                        {{remaining}}
                    </h1>

                    <div class="imageContainer maxWidth">

                        <img src="{{currArtifact.url}}" class="imageSize">

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="navbar-fixed-bottom">
            <div class="row">
                <div class="footer-col col-md-offset-3 col-md-6 col-md-offset-3 footerSize">
                    <input class="footerImage" type="image" (click)="judge(false)" align="right" src="./app/images/buttons/dislike.png">
                    <input class="footerImage" type="image" (click)="judge(true)" align="left" src="./app/images/buttons/like.png">
                </div>
            </div>
        </div>
    </footer>
</div>