body {
    background-color: beige;
}
.maxWidth {
    width: 100%;
}
.imageSize {
    display: block;
    margin: auto;
    border-radius: 10%;
    max-width: 600px;
    max-height:600px;
}
.imageContainer {
    height: 600px;
}
.footerSize {
    height:100px;
}
