body {
    background-color: #F5F7F2;
}
.maxWidth {
    width: 100%;
}
.imageSize {
    display: block;
    margin: auto;
    border-radius: 10%;
}
.imageContainer {
    height:600px;
}
.footerSize {
    height:100px;
}
.remainingNumber {
    font-size: 50px;
    padding: 5px;
}