<div class="container">
    <div class="row vertical-align">
        <div class="col-md-4" *ngIf="artifacts && artifacts[indexFirst]">
            <div class="row">
                <div class="col-md-12">
                    <div class="imageContainerOverview">
                        <div class="imageContainer maxWidth">

                            <img src="{{artifacts[indexFirst].url}}" class="imageSize">
                            <img src="./app/images/buttons/like.png" *ngIf="artifacts[indexFirst].judgement == 1" class="imageOnTop">
                            <img src="./app/images/buttons/dislike.png" *ngIf="artifacts[indexFirst].judgement == 2" class="imageOnTop">

                            <h3 class="artifactDescription" align="center">
                                {{artifacts[indexFirst].name}}
                            </h3>

                        </div>
                        <p>{{artifacts[indexFirst].value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="artifacts && artifacts[indexSecond]">
            <div class="row">
                <div class="col-md-12">
                    <div class="imageContainerOverview">
                        <div class="imageContainer maxWidth">

                            <img src="{{artifacts[indexSecond].url}}" class="imageSize">
                            <img src="./app/images/buttons/like.png" *ngIf="artifacts[indexSecond].judgement == 1" class="imageOnTop">
                            <img src="./app/images/buttons/dislike.png" *ngIf="artifacts[indexSecond].judgement == 2" class="imageOnTop">

                            <h3 class="artifactDescription" align="center">
                                {{artifacts[indexSecond].name}}
                            </h3>

                        </div>
                        <p>{{artifacts[indexSecond].value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="artifacts && artifacts[indexThird]">
            <div class="row">
                <div class="col-md-12">
                    <div class="imageContainerOverview">
                        <div class="imageContainer maxWidth">

                            <img src="{{artifacts[indexThird].url}}" class="imageSize">
                            <img src="./app/images/buttons/like.png" *ngIf="artifacts[indexThird].judgement == 1" class="imageOnTop">
                            <img src="./app/images/buttons/dislike.png" *ngIf="artifacts[indexThird].judgement == 2" class="imageOnTop">

                            <h3 class="artifactDescription" align="center">
                                {{artifacts[indexThird].name}}
                            </h3>

                        </div>
                        <p>{{artifacts[indexThird].value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="navbar-fixed-bottom">
            <div class="row">
                <div class="footer-col col-md-offset-3 col-md-6 col-md-offset-3 footerSize">
                    <input class="footerImage" type="image" (click)="previous()" align="right" src="./app/images/buttons/right.png">
                    <input class="footerImage" type="image" (click)="next()" align="left" src="./app/images/buttons/left.png">
                </div>
            </div>
        </div>
    </footer>
</div>